@import 'reset';
@import 'vars';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {/* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  font-family: Rubik, sans-serif;
  font-weight: var(--weight-regular);
  font-size: var(--font-size-bodycopy);
  line-height: 2.8rem;
}

.hide {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  background-color: var(--dark-green);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15.5rem;
}

.title {
  font-size: var(--font-size-title);
  color: var(--light-yellow);
}

.nav-list {
  display: flex;
}

.nav-list li:not(:first-child) {
  margin-left: 4rem;
}

.nav-link, .active {
  border-bottom: solid transparent .5rem;
  color: white;

  &:hover, &.active {
    border-color: var(--light-green);
  }
}

.main {
  display: grid;
  grid-template-columns: 45vw 1fr;
  grid-gap: 10rem;
  align-items: flex-start;
  justify-items: center;
  grid-template-areas:
    'about about'
    'uitgelicht uitgelicht'
    'organiseer organiseer'
    'wistjes wistjes'
    'newsletter newsletter'
    'instagram instagram';
}

/* about */

.about {
  margin-top: 10rem;
  grid-area: about;
  display: grid;
  grid-template: min-content 1fr / 40vw 40vw;
  grid-gap: 5rem;
  grid-template-areas:
    'header header'
    'image text'
    'image buttons';
}

.about-header {
  grid-area: header;
  justify-self: center;
}

.about-image {
  grid-area: image;
  max-width: 60rem;
  width: 100%;
  height: auto;
}

.about-text {
  grid-area: text;
  align-self: center;
}

.about-buttons {
  grid-area: buttons;
}

/* uitgelicht */

.uitgelicht {
  grid-area: uitgelicht;
  display: grid;
  grid-template: min-content 1fr / 40vw 40vw;
  grid-gap: 5rem;
  grid-template-areas:
    'header header'
    'events image';
}

.uitgelicht-header {
  grid-area: header;
  justify-self: center;
}

.uitgelicht-image {
  grid-area: image;
  justify-self: flex-end;
  max-width: 60rem;
  width: 100%;
  height: auto;
}

.uitgelicht-events {
  grid-area: events;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* organiseer */

.organiseer {
  grid-area: organiseer;
  display: grid;
  grid-template: min-content 1fr / 40vw 40vw;
  grid-gap: 5rem;
  grid-template-areas:
    'header header'
    'image text'
    'image button';
}

.organiseer-header {
  grid-area: header;
  justify-self: center;
}

.organiseer-image {
  grid-area: image;
  max-width: 60rem;
  width: 100%;
  height: auto;
}

.organiseer-text {
  grid-area: text;
  align-self: center;
}

.organiseer-button {
  grid-area: button;
}

/* wistjes */

.wistjes {
  grid-area: wistjes;
  display: grid;
  max-width: 80vw;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 5rem;
  grid-template-areas:
    'header header header'
    'wistje1 image wistje4'
    'wistje2 image wistje5'
    'wistje3 image wistje6';
}

.wistjes-header {
  grid-area: header;
  justify-self: center;
}

.wistjes-image {
  grid-area: image;
  justify-self: center;
  max-width: 40rem;
  width: 100%;
  height: auto;
}

/* newsletter */

.newsletter {
  grid-area: newsletter;
}

/* instagram */

.instagram {
  grid-area: instagram;
}
