@import 'reset';
@import 'vars';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {/* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  font-family: Rubik, sans-serif;
  font-weight: var(--weight-regular);
  font-size: var(--font-size-bodycopy);
  line-height: 2.8rem;
}

.hide {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  text-decoration: underline;

  &:hover {
    color: var(--dark-red);
  }
}

strong {
  font-weight: 500;
}

.button {
  background-color: var(--dark-green);
  padding: 1rem 4rem;
  color: white;

  &:hover {
    background-color: var(--light-green);
    color: var(--dark-green);
    cursor: pointer;
  }
}

main {
  min-height: calc(100vh - 40rem); /* stick footer to bottom of page */
}

/* header */

.header {
  background-color: var(--dark-green);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 15.5rem;
  width: 84vw;
  margin: 0 auto;
}

.title {
  font-size: var(--font-size-title);
  color: var(--light-yellow);
}

.nav-list {
  display: flex;
}

.nav-list li:not(:first-child) {
  margin-left: 4rem;
}

.nav-link, .active {
  border-bottom: solid transparent .5rem;
  color: white;

  &:hover, &.active {
    border-color: var(--light-green);
  }
}

/* main home page */

.main {
  display: grid;
  grid-template-columns: 45vw 1fr;
  grid-gap: 10rem;
  grid-row-gap: 15vh;
  align-items: flex-start;
  justify-items: center;
  grid-template-areas:
    'about about'
    'uitgelicht uitgelicht'
    'organiseer organiseer'
    'wistjes wistjes'
    'newsletter newsletter'
    'instagram instagram'
    'sponsors sponsors';
}

/* about */

.about {
  margin-top: 15vh;
  grid-area: about;
  display: grid;
  grid-template: min-content 1fr / 40vw 40vw;
  grid-gap: 5rem;
  grid-template-areas:
    'header header'
    'image text';
  position: relative;
  z-index: 1;
}

.about::after {
  content: '';
  position: absolute;
  top: 12vmax;
  left: -10%;
  width: 100vw;
  height: 25rem;
  background-image: linear-gradient(var(--light-yellow) 30vh, transparent  0);
  background-repeat: no-repeat;
  z-index: -1;
  background-position: 50% 0;
}

.about-header {
  grid-area: header;
  justify-self: center;
  font-size: var(--font-size-title);
  text-transform: uppercase;
}

.about-image {
  grid-area: image;
  max-width: 60rem;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.about-image::after {
  content: '';
  z-index: 0;
  position: absolute;
  top: 4rem;
  left: 3rem;
  width: 100%;
  height: 100%;
  background-color: var(--light-green);
}

.about-text {
  grid-area: text;
  align-self: center;
}

.about-buttons {
  grid-column: 2;
  grid-row: 2;
  align-self: flex-end;
  display: flex;
  justify-content: center;
}

.about-buttons .button:nth-child(1) {
  margin-right: 3rem;
}

/* uitgelicht */

.uitgelicht {
  grid-area: uitgelicht;
  display: grid;
  grid-template: min-content 1fr / 40vw 40vw;
  grid-gap: 5rem;
  grid-template-areas:
    'header header'
    'events image';
}

.uitgelicht-header {
  grid-area: header;
  justify-self: center;
  font-size: var(--font-size-title);
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.uitgelicht-image {
  grid-area: image;
  justify-self: flex-end;
  max-width: 60rem;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.uitgelicht-image::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: -6.5rem;
  left: -2.5rem;
  width: 100%;
  height: 100%;
  background-color: var(--light-green);
}

.uitgelicht-events {
  grid-area: events;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.uitgelicht-events .button {
  align-self: flex-end;
}

.uitgelicht-event {
  width: 100%;
  height: 27%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-subtitle);
}

.uitgelicht-event:nth-child(1) {
  background-color: var(--light-yellow);
}

.uitgelicht-event:nth-child(2) {
  background-color: var(--light-green);
}

.uitgelicht-event:nth-child(3) {
  background-color: var(--light-pink);
}

.uitgelicht-event::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(data-date);
  color: white;
  text-transform: uppercase;
  font-size: var(--font-size-subtitle);
  width: 20%;
  height: 100%;
  background-color: #7a7a7a;
}

.uitgelicht-event::after {
  content: '';
  width: 16rem;
  height: 10.6rem;
  transition: all .2s ease-in-out;
  background-image: url(/assets/img/arrow.svg);
  background-repeat: no-repeat;
  background-size: 3.2rem 3.6rem;
  background-position: center;
  will-change: transform;
}

.uitgelicht-event:hover::after {
  transform: translateX(1.5rem);
}

.uitgelicht-button {
  grid-column: span 2;
  justify-self: center;
}

/* organiseer */

.organiseer {
  grid-area: organiseer;
  display: grid;
  grid-template: min-content 1fr / 40vw 40vw;
  grid-gap: 5rem;
  grid-template-areas:
    'header header'
    'image text';
  position: relative;
}

.organiseer::after {
  content: '';
  position: absolute;
  top: 12vmax;
  left: -10%;
  width: 100vw;
  height: 25rem;
  background-image: linear-gradient(var(--light-yellow) 30vh, transparent  0);
  background-repeat: no-repeat;
  z-index: -1;
  background-position: 50% 0;
}

.organiseer-header {
  grid-area: header;
  justify-self: center;
  font-size: var(--font-size-title);
  text-transform: uppercase;
}

.organiseer-image {
  grid-area: image;
  max-width: 60rem;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.organiseer-image::after {
  content: '';
  z-index: 0;
  position: absolute;
  top: 2rem;
  left: 3rem;
  width: 100%;
  height: 100%;
  background-color: var(--light-pink);
}

.organiseer-text {
  grid-area: text;
  align-self: center;
}

.organiseer-button {
  grid-column: 2;
  grid-row: 2;
  align-self: flex-end;
  justify-self: flex-start;
}

/* wistjes */

.wistjes {
  grid-area: wistjes;
  display: grid;
  max-width: 80vw;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 5rem 1rem;
  grid-template-areas:
    'header header header'
    'wistje1 image wistje4'
    'wistje2 image wistje5'
    'wistje3 image wistje6';
}

.wistjes-header {
  grid-area: header;
  justify-self: center;
  font-size: var(--font-size-title);
  text-transform: uppercase;
}

.wistje {
  width: 25vw;
  height: 6.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.wistje:nth-child(2), .wistje:nth-child(5) {
  background-color: var(--light-yellow);
}

.wistje:nth-child(3), .wistje:nth-child(6) {
  background-color: var(--light-green);
}

.wistje:nth-child(4), .wistje:nth-child(7) {
  background-color: var(--light-pink);
}

.wistje::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(data-count);
  color: white;
  text-transform: uppercase;
  font-size: var(--font-size-subtitle);
  width: 11vmin;
  height: 100%;
  background-color: #7a7a7a;
}

.wistje::after {
  content: '';
}

.wistjes-image {
  grid-area: image;
  justify-self: center;
  align-self: center;
  max-width: 25vw;
  width: 100%;
  height: auto;
}

/* newsletter */

.newsletter {
  grid-area: newsletter;
  display: grid;
  justify-content: center;
  grid-template-columns: 35vw 35vw;
  grid-gap: 5rem;
  grid-template-areas:
    'header header'
    'text form';
  position: relative;
  z-index: 1;
}

.newsletter::after {
  content: '';
  position: absolute;
  top: 6vmax;
  right: -20%;
  width: 80vw;
  height: 22rem;
  background-image: linear-gradient(var(--light-yellow) 37rem, transparent  0);
  background-repeat: no-repeat;
  z-index: -1;
  background-position: 50% 0;
}

.newsletter-header {
  grid-area: header;
  justify-self: center;
  font-size: var(--font-size-title);
  text-transform: uppercase;
}

.newsletter-info {
  grid-area: text;
}

.newsletter-form {
  grid-area: form;
  justify-self: space-evenly;
}

.newsletter-input {
  height: 4.5rem;
  font-size: var(--font-size-bodycopy);
  padding-left: 1.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field:not(:first-child) {
  padding-top: 2rem;
}

.form-field label {
  font-size: var(--font-size-subtitle);
  padding-bottom: .5rem;
}

.newsletter-input::placeholder {
  font-size: var(--font-size-bodycopy);
  font-style: italic;
}

.submit-button {
  border: none;
  align-self: flex-end;
  font-size: var(--font-size-subitle);
}

/* instagram */

.instagram {
  grid-area: instagram;
  display: grid;
  justify-content: center;
  grid-template-columns: 25vw 25vw 25vw;
  grid-gap: 5rem;
  grid-template-areas:
    'header header header'
    'image1 image2 image3'
    '. button .';
}

.instagram-header {
  grid-area: header;
  justify-self: center;
  font-size: var(--font-size-title);
  text-transform: uppercase;
}

.instagram-image {
  max-width: 50rem;
  width: 100%;
  height: auto;
}

.instagram-button {
  grid-area: button;
  justify-self: center;
  text-align: center;
}

/* instagram */

.sponsors {
  grid-area: sponsors;
  display: flex;
  width: 84vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* activiteiten page */

.events-header {
  grid-area: header;
  margin-top: 10vh;
  margin-bottom: 5vh;
  font-size: var(--font-size-title);
  text-transform: uppercase;
  text-align: center;
}

.filter-tag {
  display: grid;
  grid-template: min-content min-content min-content;
  grid-template-areas:
    'dagen dagen dagen dagen dagen dagen dagen dagen'
    '. . . tags search submit . .';
}

.days {
  grid-area: dagen;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 2.5vh;
  margin-right: 1rem;
}

.day {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.day-label {
  width: 15rem;
  height: 8rem;
  background-color: var(--dark-green);
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--font-size-bodycopy);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day-label:hover {
  background-color: var(--light-green);
  color: var(--dark-green);
  cursor: pointer;
}

.radio-input:checked + .day-label {
  background-color: var(--light-green);
  color: var(--dark-green);
}

.label-item:last-of-type {
  display: block;
  font-size: var(--font-size-bodycopy);
  width: 100%;
  height: 3rem;
  text-align: center;
}

.select-tag {
  grid-area: tags;
}

.city-search {
  grid-area: search;
}

.select-tag, .city-search {
  padding: 1rem;
  font: inherit;
  color: var(--dark-red);
  height: 5rem;
  width: 20rem;
  border: none;
  overflow: hidden;
  border-radius: 0;
  background: var(--light-yellow);
}

.select-tag:focus, .city-search:focus {
  outline: none;
}

.filter-submit {
  grid-area: submit;
}

.event-results {
  display: grid;
  grid-template: 10vh / 26.7vw 26.7vw 26.7vw;
  grid-gap: 8rem 2rem;
  justify-content: center;
  grid-template-areas:
    'count count count'
    'post1 post2 post3';
}

.event-count {
  grid-area: count;
  align-self: flex-end;
}

.activity-item {
  overflow: hidden;
  width: 25vw;
  height: 20vw;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 2fr min-content 1fr;
  grid-row-gap: 2vh;
  will-change: transform;
  will-change: box-shadow;
  transition: .18s;
}

.activity-item:hover {
  transform: translateY(-.3rem);
  box-shadow: 0 .5rem 2.5rem rgba(0, 0, 0, .1);
}

.activity-image {
  grid-row: span 3;
  width: 100%;
  height: 20vw;
  object-fit: cover;
  z-index: -100;
}

.activity-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  color: var(--dark-red);
}

.activity-tag {
  padding: .5rem;
  background-color: var(--light-yellow);
  margin-right: 1rem;
}

.activity-info {
  padding-left: 2rem;
  padding-right: 2rem;
  height: 15rem;
  background-color: rgba(212, 243, 236, .9);
  display: grid;
  grid-template-rows: 1fr .5fr .5fr;
  padding-bottom: 2rem;
}

.activity-title {
  font-weight: 500;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.activity-time, .activity-place {
  display: flex;
  align-items: center;
}

.activity-time::before, .activity-place::before {
  content: '';
  background: url(/assets/img/clock.svg) no-repeat;
  background-size: 100%;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.activity-place::before {
  background: url(/assets/img/compass.svg) no-repeat;
  background-size: 100%;
}

/* detail page */

.event-detail {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    'img img'
    'content info'
    'content practical'
    'content practical';
}

.detail-title {
  padding: 1.5vw;
  grid-row: 1;
  grid-column: 1 / span 2;
  align-self: center;
  justify-self: center;
  background-color: var(--dark-green);
  color: white;
  font-size: var(--font-size-title);
  z-index: 2;
}

.detail-tags {
  grid-row: 1;
  grid-column: 1 / span 2;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.detail-tag {
  align-self: flex-end;
}

.detail-content {
  grid-area: content;
}

.detail-info {
  grid-area: info;
}

.detail-practical {
  grid-area: practical;
}

.detail-image {
  grid-area: img;
  object-fit: cover;
  width: 100%;
  height: 50vh;
  z-index: -1;
}

.detail-section-title {
  font-size: var(--font-size-subtitle);
  font-weight: 500;
}

/* footer */

.footer {
  margin-top: 10rem;
  height: 15.5rem;
  background-color: var(--dark-green);
}

.footer-wrap {
  width: 84vw;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  color: white;
}

.social {
  display: flex;
  flex-wrap: wrap;
  width: 15rem;
  justify-content: space-between;
  align-items: center;
}

@custom-media --only-biggest-screen (width >= 780px) and (width <= 1400px);
@custom-media --only-big-screen (width >= 780px) and (width <= 1200px);
@custom-media --only-medium-screen (width >= 780px) and (width <= 1025px);
@custom-media --only-small-screen (width >= 100px) and (width <= 780px);

@media (--only-biggest-screen) {

  .event-results {
    grid-template-columns: 40vw 40vw;
    grid-template-areas:
      'count count'
      'post1 post2';
  }

  .activity-item {
    width: 80%;
    align-self: center;
    height: 20vw;
  }
}

@media (--only-big-screen) {

  .activity-item {
    width: 100%;
    height: 30vw;
  }

  .activity-image {
    height: 30vw;
  }
}

@media (--only-medium-screen) {

  .main {
    grid-row-gap: 10vh;
  }

  .about, .organiseer {
    margin-top: 10vh;
    grid-template-columns: 35vw 45vw;
    grid-template-areas:
      'header header'
      'image text'
      'button button';
  }

  .about::after, .organiseer::after {
    top: 5vh;
    left: -9%;
    height: 37vh;
    background-image: linear-gradient(var(--light-yellow) 37vh, transparent  0);
  }

  .about-buttons {
    grid-area: button;
  }

  .about-image, .organiseer-image {
    justify-self: center;
    align-self: center;
    width: 35vw;
  }

  .about-image::after {
    display: none;
  }

  .uitgelicht {
    grid-template-columns: 45vw 35vw;
  }

  .uitgelicht-image {
    align-self: center;
  }

  .uitgelicht-image::after {
    display: none;
  }

  .organiseer {
    margin-top: auto;
  }

  .organiseer-image::after {
    display: none;
  }

  .organiseer-button {
    grid-column: span 2;
    grid-row: 3;
    justify-self: center;
  }

}

@media (--only-small-screen) {

  .wistjes-image {
    display: none;
  }

  .event-results {
    grid-template-columns: 80vw;
    grid-template-areas:
      'count'
      'post1';
  }

  .activity-image {
    height: 35vw;
  }

  .activity-item {
    width: 100%;
    height: 30vh;
  }

  .activity-info {
    background-color: rgba(212, 243, 236);
  }
}
