:root {
  /* color palette */
  --dark-green: #6bc9b4;
  --light-green: #d4f3ec;
  --light-yellow: #fff2ce;
  --light-pink: #f8cdd1;
  --dark-red: #9d2229;
  /* font sizes */
  --font-size-big: 5rem;
  --font-size-title: 4.6rem;
  --font-size-subtitle: 2.4rem;
  --font-size-bodycopy: 1.9rem;
  /* font weights */
  --weight-regular: 400;
  --weight-bold: 700;
}
